*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}
.title{
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin: auto;
    padding: 2%;
    width: 58.75rem;
    height: 40.625rem;
}
.container__section{
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.box{
    width: 21.875rem;
    height: 100%;
}

.container__left,
.container__right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/****************** MENSAJE ******************/

.container__left .mensaje-input,
.mensaje-lupa{
    width: 100%;
    color: #0A3871;
    background-color: #cdcdcd;
    border-radius: 16px;
    font-weight: bold;
    font-size: 20px;
    padding: 1rem;
    resize: none;
    /* font-family: 'Inter', sans-serif; */
    border: none;
    outline: none;
    word-wrap: break-word;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
}
.mensaje-input::placeholder {
    color: #0A3871;
    opacity: 0.7;

}

/****************** BOTONES ******************/
.container__botoneras{
    display: flex;
    flex-direction: column;
}
.container__botoneras p{
    font-size: 13px;
    margin-bottom: 1rem;
}
.botoneras{
    display: flex;
    justify-content: space-between;
}
.btn-encriptar,
.btn-desencriptar,
.btncopiar{
    width: 150px;
    height: 3em;
    background-color: #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.btn-encriptar:hover,
.btn-desencriptar:hover,
.btncopiar:hover{
    transform: scale(1.1);
}
.btn-encriptar:active, 
.btn-desencriptar:active,
.btncopiar:active{
    opacity: .8;
}
.btn-desencriptar,
.btncopiar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
}

/****************** RIGHT-ARTICLE ******************/

.container-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-img img{
    width: 80%;
    margin-bottom: 1rem;
}

.container-btn{
    display: grid;
    place-items: center;
}
.btncopiar{
    display: none;
}

/****************** FOOTER ******************/

footer{
    bottom: 0;    
    margin: 0;
    padding: 1.5%;
    width: 100%;
    background-color: #0A3871;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons a{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin: 0 1rem;
}

footer a:hover{
    color: #c78c19;
    text-decoration: underline;
}
